<div class="container-fluid">
  <div class="padding">
    <div class="row Footer-Info">
        <div class="col-lg-3">
            <h3 routerLink="/">WatchWorlds</h3>
        </div>
        <div class="col-lg-2">
            <p>About</p>
            <a>Contact Us</a><br>
            <a>About Us</a> <br>
            <a>Become A Seller</a> <br>
            <a>Carrer</a>
        </div>
        <div class="col-lg-2">
            <p>Help</p>
            <a>Cart</a><br>
            <a>My Order</a> <br>
        </div>
        <div class="col-lg-2">
            <p>Policy</p>
            <a>Policy</a><br>
            <a>Term & Condition</a> <br>
            <a>F&Q</a> <br>
        </div>
        <div class="col-lg-3">
            <p>Follow</p>
            <a target="_blank" href="https://github.com/ankit-katkar?tab=repositories">GitHub</a><br>
            <a target="_blank" href="https://www.linkedin.com/in/ankit-katkar-189b31211/">Linkdin</a> <br>
            <a target="_blank" href="https://www.instagram.com/an_kit3389/">Instagram</a> <br>
        </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <p class="Copyright">@Copyright Desing & Developed By Ankit Katkar</p>
  </div>
</div>
