.container-fluid{
    background-color: rgb(245, 245, 245);
    height: 340px;
    bottom: 0;
    right: 0;
    left: 0;
}
.padding{
    padding: 50px 0px 50px 150px;
}
.Footer-Info{
cursor: pointer;
}
.Footer-Info p{
    font-size: 17px;
    font-weight: 600;
}
.Footer-Info a{
    font-size: 15px;
    line-height: 35px;
    color: black;
    text-decoration: none;
}
.Copyright{
    text-align: center;
}