<div>
  <div>
    <div class="card mx-auto d-block">
      <div class="card-body">
        <h1 class="HeadText">Add Product</h1>
        <p class="productMessage">{{ addProductMessage }}</p>
        <form
          #SellerAddProduct="ngForm"
          (ngSubmit)="AddProduct(SellerAddProduct.value)"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Name"
              id="name"
              name="name"
              ngModel
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Enter Product price"
              id="price"
              name="price"
              ngModel
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Color"
              id="color"
              name="color"
              ngModel
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Category"
              id="category"
              name="category"
              ngModel
            />
          </div>
          <div class="form-group">
            <textarea
              type="text"
              class="form-control"
              placeholder="Enter Product Description"
              rows="3"
              id="description"
              name="description"
              ngModel
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Product Image"
              id="image"
              name="image"
              ngModel
            />
          </div>
          <button type="submit" class="btn btn-primary mx-auto d-block">
            Add Product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
