
<div class="container">
    <div class="row" *ngIf="productData">
        <div class="col-lg-6">
            <img src="{{productData.image}}" alt="">
        </div>
        <div class="col-lg-6">
            <div class="porduct-detail">
                <div class="product-head">
                    <h3 class="name">{{productData.name}}</h3>
                   <div class="price"><i class="bi bi-currency-rupee"></i>{{productData.price}}</div> 
                  </div>
                   <div class="info">
                    <p>Color:-{{productData.color}}</p>
                    <p>Category:-{{productData.category}}</p>
                    <div class="quentity-group">
                        <button (click)="Quentity('min')">-</button>
                        <input type="text" value="{{productQuentity}}">
                        <button (click)="Quentity('max')">+</button>
                    </div>
                   </div>
                    <div class="description"> 
                        <p>{{productData.description}}</p>
                    </div>
                    <div>
                        <button *ngIf="!removeCart" class="btn Footer-btn" (click)="AddToCart()">Add to Cart</button>
                        <button *ngIf="removeCart" class=" btn Footer-btn" (click)="removeToCart(productData.id)">Remove To Cart</button>
                    </div>
            </div>

        </div>
    </div>
</div>
