.Order{
    padding-bottom: 50px;
}
img{
    width: 90px;
    height: 110px;
}
.Order-Detail{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    align-items: center;
    padding-top: 50px;
}
.Order-List{
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}
.btn{
    color: red;
    
}

@media only screen and (max-width: 800px) {
    
}