<div class="container">
    <div class="row Order">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row Order-List">
                <div class="col-lg-2 col-md-2 col-sm-4 col-4"><span>Order</span></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-4"><span>OrderId</span></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-4" ><span>Price</span></div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12"><span>Status</span></div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12"><span>Action</span></div>
            </div>
            <div class="row">
                <div class="row Order-Detail" *ngFor="let orders of orderData">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4"><img src="{{orders.image}}" alt="" /></div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4">{{orders.id}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4">{{orders.totalPrice}}</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">Your product is on the way</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12"><button class="btn" (click)="CancelOrder(orders.id)">
                        Cancle Order
                    </button></div>
                </div>
            </div> 
        </div>
    </div>
</div>
