
.card{
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-group{
    padding-bottom: 10px;
}
.card-body{
    padding: 30px 50px 30px 50px;
}
.btn{
    margin-top: 40px; 
    width: 150px;
}
.Link{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    text-align: center;
}
.Link a{
    font-weight: 600;
}
.InputError{
    color: red;
    font-size: 14px;
}