.container{
    padding: 20px 100px 0px 100px;
}.Checkout{
    text-align: center;
}
.Checkout-Detail{
padding-top: 30px;
}
.form-group{
    padding-bottom: 40px;
}
.card-body{
    padding: 50px;
}
.btn{
    border-radius: 3px;
    width: 200px;
}
.Payment-Detail{
   padding-left: 100px;
}
.Payment-Detail p{
    font-size: 18px;
}
.message{
    color: green;
    font-size: 14px;
    text-align: center;
}