.container {
  padding: 10% 10% 5% 10%;
}

.Checkout {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.Checkout-Detail {
  padding-top: 30px;
  padding-bottom: 60px;
}

.form-group {
  padding-bottom: 40px;
}

.card-body {
  padding: 50px;
}

.checkoutBtn {
  border-radius: 3px;
  width: 10vw;
  background-color: #000;
  color: #fff;
  margin-left: calc(50% - 5vw);
}

.Payment-Detail{
  margin-left: 20%;
}

.Payment-Detail p {
  font-size: 18px;
}

.message {
  color: green;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 18% 5% 5% 5% ;
      }

      .Checkout {
        font-size: 4.5vw;
      }

      .card-body {
        padding: 8%;
      }
      .checkoutBtn {
        width: 16vw;
        margin-left: calc(50% - 8vw);
      }
      .Payment-Detail{
        margin-left: 5%;
      }
}

@media only screen and (max-width: 500px) {
    .container {
      padding: 36% 5% 5% 5%;
      }

      .Checkout {
        font-size: 10vw;
      }

      ::placeholder{
        font-size: 3.5vw;
      }

      .checkoutBtn {
        width: 40vw;
        margin-left: calc(50% - 20vw);
      }

      .Payment-Detail{
        padding-top: 10%;
        margin-left: 1%;
      }
}
