.container-fluid{
    background-image: url('../../assets/watches background.jpg');
    overflow: hidden;
    margin-top: 14vh;
}
.card{
    width: 450px;
    border-radius: 3px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.card-body{
    padding: 50px;
}
.HeadText{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.productMessage{
    color: green;
    font-size: 18px;
}
.form-group{
    margin-bottom: 30px;
}
.form-group input{
    border-radius: 4px;
}
::placeholder{
    font-size: 14px;
    color: rgb(172, 172, 172);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.productDeleteMessage{
    color: red;
    font-size: 16px;
}

.btn{
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .card{
        width: 100%;
    }
    .card-body{
        padding: 8% 5% 8% 5%;
    }
}
